{% extends "base.html" %}

{% block content %}
      <section class="information">
        {{ content | safe }}
      </section>

{% for section_key, pages in sections.items() %}
  {% if pages %}
      <section class="{{ section_key }}">
        <h3>{{ section_key|capitalize }}</h3>
        <ul class="indent-list">
    {% for page in pages %}
          <li><a href="pages/{{ page.slug }}.html">{{ page.title }}</a></li>
    {% endfor %}
        </ul>
      </section>
  {% endif %}
{% endfor %}

{% if users %}
      <section class="users">
        <h3>Users</h3>
        <ul class="indent-list">
    {% for user in users %}
          <li><a href="{{ user.name }}/index.html">{{ user.name | replace('~', '') }}</a></li>
    {% endfor %}
        </ul>
      </section>
{% endif %}

{% if recent_posts %}
      <section class="blog-feed">
        <h3>Recent Blog Posts <a href="{{ config.site.url }}/feed.xml" class="rss-link" title="Subscribe via RSS">📰 RSS</a></h3>
        <ul class="blog-posts">
    {% for post in recent_posts %}
          <li class="blog-post">
            <a href="{{ post.username }}/{{ post.slug }}.html">{{ post.metadata.title }}</a>
            <span class="blog-post-date">{{ post.metadata.get('date', '') }}</span>
          </li>
    {% endfor %}
        </ul>
      </section>
{% endif %}
{% endblock %}
